# Production environment variables
VITE_API_BASE_URL=https://api.gjiang.xyz:58000
VITE_WS_FIX_URL=wss://api.gjiang.xyz:58000/fix
VITE_SCRCPY_BASE_URL=https://scrcpy.gjiang.xyz:58000/
VITE_ALAS_BASE_URL=https://alas.gjiang.xyz:58000/

DB_URL=jdbc:mysql://10.10.10.1:3306/DataBase?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
DB_USER=guojiang
DB_PASSWORD=replace_me

PROXY_DATABASE_URL=mysql+pymysql://guojiang:replace_me@10.10.10.1:3306/DataBase

ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace_me

COOKIE_DOMAIN=.gjiang.xyz
COOKIE_SECURE=true

USER_JWT_SECRET=replace_me_user_jwt_secret
ADMIN_JWT_SECRET=replace_me_admin_jwt_secret
